<%= turbo_frame_tag dom_id(project) do%>
<div class="project container">
    <div class="row">
        <%= project.title %>
    </div>
    <div class="row">
        <%= project.image %>
    </div>
    <div class="row">
        <%= project.body %>
    </div>
</div>
<% end %>