 body {
    padding: 2%;
    background-image: url('https://seanbase.s3-ap-northeast-1.amazonaws.com/purple-flower.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: seashell;
}